certifi==2026.7.22
cftime==1.6.5
charset-normalizer==3.5.1
click==8.5.0
cloudpickle==3.1.2
configobj==5.0.9
dask==2026.8.0
defusedxml==0.7.1
donfig==0.8.1.post1
fsspec==2026.9.0
google-crc32c==1.9.0
h5netcdf==1.8.1
h5py==3.16.0
idna==3.20
locket==1.0.0
msgspec==0.21.1
netcdf4==1.7.4
numcodecs==0.17.0
numpy==2.5.3
packaging==26.3
pandas==3.0.6
partd==1.4.2
pathlib-abc==0.5.2
pillow==12.3.0
platformdirs==4.12.1
pooch==1.9.0
pykdtree==1.4.3
pyorbital==1.13.0
pyproj==3.8.0
pyresample==1.35.0
pyspectral==0.14.3
python-dateutil==2.9.0.post0
python-geotiepoints==1.9.0
pyyaml==6.0.3
requests==2.34.2
satpy==0.60.0
scipy==1.18.1
shapely==2.1.2
six==1.17.0
toolz==1.1.0
trollimage==1.28.0
trollsift==1.0.1
typing-extensions==4.16.0
tzdata==2026.4
universal-pathlib==0.3.10
urllib3==2.8.0
xarray==2026.7.0
zarr==3.4.0
